.btn {
  margin-top: 4rem;
  border: none;
  padding: 2.2rem 5.5rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  //   font-weight: bold;
  outline: none;
  cursor: pointer;
  color: $color-white;
  box-sizing: content-box;
  transition: all 0.3s;
  font-family: "montserratlight", sans-serif;

  &--green {
    background-color: $color-green;

    &:focus {
      background-color: $color-green-active;
      // border: 1px solid black;
    }
  }

  &--blue {
    background-color: $color-blue;
  }
}
