.btn{
    margin-top: 5rem;
    border: none;
    padding: 2rem 6rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    &--green{
        box-sizing: content-box;
        background-color: $color-green;
        color: $color-white;
        transition: all .3s;

        &:focus{
            background-color: $color-green-active;
            // border: 1px solid black;
        }
    }
}